@media not screen
and (max-device-height : 900px) 
and (max-device-width : 1200px) {
 @media (prefers-color-scheme: dark) {
  body {
  background: #0e0133;
  }
 }

 @media (prefers-color-scheme: light) {
  body {
   background: #fcfbff;
  }
 }
}

h1, h2, h3, h4, h5, p, li, div, button, span {
 color: #55036b;
 text-align: center;
}

.star {
	background: rgb(255, 232, 130);
}

.border {
 border-left: 2px solid #fff;
 border-top: 2px solid #fff;
 border-right: 2px solid #55036b;
 border-bottom: 2px solid #55036b;
 box-shadow: -2px -2px #cb98d8 inset;
}

.rev-border {
 border-left: 2px solid #55036b;
 border-top: 2px solid #55036b;
 border-right: 2px solid #fff;
 border-bottom: 2px solid #fff;
}

button {
 border-left: 2px solid #fff;
 border-top: 2px solid #fff;
 border-right: 2px solid #55036b;
 border-bottom: 2px solid #55036b;
 box-shadow: -2px -2px #cb98d8 inset;
 background-color: rgb(246, 236, 255);
 outline: none;
 box-shadow: -2px -2px #cb98d8 inset;
 padding: 6px;
 transition: box-shadow .5s;
}

button:hover {
 box-shadow: none;
 transition: box-shadow .5s;
}

/* Slider Styling */

input[type=range] {
 -webkit-appearance: none;
}

input[type=range]:focus {
 outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
 width: 100%;
 height: 9px;
 background: rgb(205, 239, 255);
 border-radius: 50px;
}

input[type=range]::-webkit-slider-thumb {
 border: none;
 height: 18px;
 width: 18px;
 border-radius: 50px;
 background: #55036b;
 -webkit-appearance: none;
 margin-top: -4.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
 background: rgb(205, 239, 255);
}

input[type=range]::-moz-range-track {
 width: 100%;
 height: 9px;
 background: #cb98d8;
 border-radius: 50px;
}

input[type=range]::-moz-range-thumb {
 height: 18px;
 width: 18px;
 border-radius: 50px;
 background: #ffffff;
}

input[type=range]::-ms-track {
 width: 100%;
 height: 9px;
 background: transparent;
 border-color: transparent;
 color: transparent;
}

input[type=range]::-ms-fill-lower {
 background: #cb98d8;
 border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
 background: #cb98d8;
 border-radius: 50px;
}

input[type=range]::-ms-thumb {
 height: 18px;
 width: 18px;
 border-radius: 50px;
 background: #ffffff;
}

input[type=range]:focus::-ms-fill-lower {
 background: #cb98d8;
}

input[type=range]:focus::-ms-fill-upper {
 background: rgb(205, 239, 255);
}

/* Toastify */

.Toastify h4, .Toastify h5 {
 margin: 9px;
 width: 240px;
}

.Toastify .Toastify__toast-theme--light {
 border-left: 2px solid #55036b;
 border-top: 2px solid #55036b;
 border-right: 2px solid #fff;
 border-bottom: 2px solid #fff;
 box-shadow: none;
 border-radius: 0;
 background: rgb(246, 236, 255);
}

.Toastify .Toastify__close-button {
 /* border: none;
 background-color: rgb(246, 236, 255);
 box-shadow: none; */
 position: relative;
 right: 3px;
 border-left: 2px solid #fff;
 border-top: 2px solid #fff;
 border-right: 2px solid #55036b;
 border-bottom: 2px solid #55036b;
 box-shadow: -2px -2px #cb98d8 inset;
 background-color: rgb(246, 236, 255);
 outline: none;
 box-shadow: -2px -2px #cb98d8 inset;
 padding: 1.5px 3px;
 transition: box-shadow .5s;
}

/* .Toastify__close-button--default {
} */

.Toastify .Toastify__close-button > svg {
 fill: #55036b;
}

.Toastify .Toastify__close-button--light {
 opacity: 1;
}

.Toastify__close-button:hover, .Toastify__close-button:focus {
 box-shadow: none;
 transition: box-shadow .5s;
}

/* Windows/Desktop */

#desktop {
 position: absolute;
 z-index: 999;
}

.window {
 width: fit-content;
 padding: 3px;
 background-color: rgb(246, 236, 255);
 position: absolute;
 left: 15vw;
 top: 10vh;
}

.window-header {
 background-color: #cb98d8;
 color: rgb(246, 236, 255);
 justify-content: space-between;
 align-items: center;
 padding: 3px;
 padding-left: 6px;
 cursor: move;
}

.window-header h4 {
 color: rgb(246, 236, 255);
 margin: 0;
}

.window-header button {
 height: 24px;
 width: 24px;
 font-weight: bold;
}

.window-buttons {
 gap: 6px;
}

.window-body .row {
 margin: 9px;
}

.window-body button {
 margin-bottom: 9px;
}

.window-body img {
 width: 30px;
 height: 30px;
}

.tabs {
 margin: 9px 9px 0 9px;
}

.tab {
 padding: 3px 5px;
 border-left: 2px solid #fff;
 border-top: 2px solid #fff;
 border-bottom: 2px solid #fff;
 border-right: 2px solid #55036b;
 border-radius: 5px 5px 0 0;
 box-shadow: -2px 0px #cb98d8 inset;
}

.selected-tab {
 border-bottom: 2px solid rgb(246, 236, 255);
 box-shadow: none;
}

td, th {
 text-align: left;
}

tr td:nth-of-type(2), tr th:nth-of-type(2) {
 padding: 0 15px;
}

#profile p {
 width: 390px;
}

.intro {
 width: 240px;
}

.intro h4 {
 padding-left: 15px;
}

/* Profile */

.about, .skills, .education, .work {
 margin: 9px;
 box-shadow: none;
}

.skills {
 margin: auto;
 margin-top: 9px;
 margin-bottom: 9px;
}

.about .row {
 margin: 12px 9px;
 justify-content: flex-start;
}

.about img {
 width: 39px;
 height: 39px;
}

.about h4, .about h5 {
 text-align: left;
 margin: 3px 0 3px 18px;
}

.about h5 {
 font-weight: 500;
}

.about div {
 padding: 0 5px;
}

.skills {
 justify-content: center;
}

/* Projects */

.url {
 margin: 3px;
 padding: 6px;
}

.url h4 {
 text-align: left;
 margin: 0;
}

.browser {
 margin: 3px;
}

iframe {
 width: 60vw;
 height: 60vh;
}

/* Music Player */

#play-pause img, #rewind-icon img, #forward-icon img {
 width: 24px;
 height: 24px;
}

#mute-icon {
 height: 15px;
 width: 15px;
}

#play-pause, #rewind-icon, #forward-icon {
 border: none;
 box-shadow: none;
}

.audio-player span  {
 gap: 6px;
}

/* MineSweeper */

.ms-header {
 padding: 9px;
}

.ms-header button {
 padding: 0;
 margin: 0 6px;
 height: 30px;
 width: 30px;
}

.counter {
 margin: 0;
 padding: 5px 3px 0 5px;
 background-color: #55036b;
 color: rgb(205, 239, 255);
}

.ms-body {
 
}