#desktop {
 position: absolute;
 z-index: 999;
}

.window {
 width: fit-content;
 padding: 3px;
 background-color: rgb(246, 236, 255);
}

.window-header {
 background-color: #cb98d8;
 color: rgb(246, 236, 255);
 justify-content: space-between;
 align-items: center;
 padding: 3px;
 padding-left: 6px;
 cursor: move;
}

.window-header h4 {
 color: rgb(246, 236, 255);
 margin: 0;
}

.window-header button {
 height: 24px;
 width: 24px;
 font-weight: bold;
}

.window-buttons {
 gap: 6px;
}

.window-body .row {
 margin: 9px;
}

.window-body button {
 margin-bottom: 9px;
}

.window-body .row {
 gap: 9px;
}

.window-body img {
 width: 30px;
 height: 30px;
}

#profile p {
 width: 390px;
}