@media (prefers-color-scheme: dark) {
 body {
 background: #0e0133;
 }
}

@media (prefers-color-scheme: light) {
 body {
  background: #fcfbff;
 }
}

body {
 cursor: url('../images/cursor.png'), auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

button, a {
 cursor: url('../images/hover cursor.png'), auto;
 text-decoration: none;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.clickable {
 cursor: url('../images/hover cursor.png'), auto;
}

.hidden {
 visibility: hidden;
}

.remove {
 display: none;
}

.row {
 display: flex;
 flex-direction: row;
}

.column {
 display: flex;
 flex-direction: column;
}

.center {
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;
}

.border {
 border-left: 2px solid #fff;
 border-top: 2px solid #fff;
 border-right: 2px solid #55036b;
 border-bottom: 2px solid #55036b;
 box-shadow: -2px -2px #cb98d8 inset;
}

.rev-border {
 border-left: 2px solid #55036b;
 border-top: 2px solid #55036b;
 border-right: 2px solid #fff;
 border-bottom: 2px solid #fff;
}

button {
 border-left: 2px solid #fff;
 border-top: 2px solid #fff;
 border-right: 2px solid #55036b;
 border-bottom: 2px solid #55036b;
 box-shadow: -2px -2px #cb98d8 inset;
 background-color: rgb(246, 236, 255);
 outline: none;
 box-shadow: -2px -2px #cb98d8 inset;
 padding: 6px;
 transition: box-shadow .5s;
}

button:hover {
 box-shadow: none;
 transition: box-shadow .5s;
}

/* button:focus {
 border-left: 2px solid #55036b;
 border-top: 2px solid #55036b;
 border-right: 2px solid #fff;
 border-bottom: 2px solid #fff;
 box-shadow: none;
} */