.nav {
 position: fixed;
 bottom: 0;
 width: 100%;
}

nav {
 background-color: rgb(246, 236, 255);
 justify-content: space-between;
}

navbar {
 display: flex;
 justify-content: flex-start;
 align-content: center;
 align-items: center;
 gap: 6px
}

nav button {
 margin: 6px;
 border-radius: 0px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 9px;
}

.nav nav span img {
 height: 15px;
 width: 15px;
}

.nav img {
 height: 24px;
 width: 24px;
}

nav a {
 margin: 0 6px 0 6px;
}

nav hr {
 height: 33px;
 border: 0;
 width: 1px;
 margin: 0;
 background-color: rgb(246, 236, 255);
}

nav span hr {
 height: 45px;
 background-color: #7d378f;
}

.clock {
 margin: 6px;
 background-color: rgb(246, 236, 255);
 box-shadow: 2px 2px #cb98d8 inset;
 padding: 6px 6px 0 6px;
 gap: 6px;
}

.nav ul {
 width: fit-content;
 height: fit-content;
}

.nav li {
 justify-content: space-between;
 padding: 9px;
 background-color: rgb(246, 236, 255);
}

.nav li:hover, .nav li:hover span {
 background-color: #7d378f;
 color: rgb(246, 236, 255);
}

.nav li span {
 padding-right: 18px;
 gap: 9px;
}

.nav li button {
 border: 0;
 box-shadow: none;
}