nav {
 position: fixed;
 bottom: 0;
 width: 100%;
 background-color: rgb(246, 236, 255);
 justify-content: space-between;
}

navbar {
 display: flex;
 justify-content: flex-start;
 align-content: center;
 align-items: center;
 gap: 6px
}

nav .border {
 border-left: 2px solid #fff;
 border-top: 2px solid #fff;
 border-right: 2px solid #55036b;
 border-bottom: 2px solid #55036b;
}

nav .rev-border {
 border-left: 2px solid #55036b;
 border-top: 2px solid #55036b;
 border-right: 2px solid #fff;
 border-bottom: 2px solid #fff;
}

nav button {
 margin: 6px;
 border-radius: 0px;
 background-color: rgb(246, 236, 255);
 outline: none;
 box-shadow: -2px -2px #cb98d8 inset;
 padding: 6px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 9px;
 transition: all .5s;
}

nav button:hover {
 box-shadow: none;
 transition: all .5s;
}

nav span img {
 height: 15px;
 width: 15px;
}

nav img {
 height: 24px;
 width: 24px;
}

nav a {
 margin: 0 6px 0 6px;
}

nav hr {
 height: 33px;
 border: 0;
 width: 1px;
 margin: 0;
 background-color: rgb(246, 236, 255);
}

nav span hr {
 height: 45px;
 background-color: #7d378f;
}

.clock {
 margin: 6px;
 background-color: rgb(246, 236, 255);
 box-shadow: 2px 2px #cb98d8 inset;
 padding: 6px 6px 0 6px;
}