#links {
 position: fixed;
 display: flex;
 flex-direction: column;
 top: 18px;
 left: 18px;
}

#links .container {
 margin-bottom: 12px;
}

.container {
 overflow: auto;
 padding: 3px;
}

.container {
 border: 2px dotted transparent;   
}

.container:hover {
 border: 2px dotted #55036b;   
}

#links img, #links img:hover {
 width: 39px;
 height: 39px;
}

#links p, #projects p {
 margin: 0;
 font-size: 16px;
 padding-top: .3em;
}

#projects .container {
 overflow: hidden;
 width: 90px;
}

#projects {
 margin-top: 3px;
 gap: 12px;
 padding: 12px;
}

#projects img, #projects img:hover {
 width: 45px;
 height: 45px;
}