@media only screen
and (max-device-height : 900px) 
and (max-device-width : 1200px) {
 @media (prefers-color-scheme: dark) {
  :root {
   --container: rgba(58, 147, 206, 0.192);
   --background: #050013;
   --text: rgb(58, 147, 206);
   --highlight: rgb(202, 138, 198); 
   --ripple: rgb(58, 147, 206);
  }
 }

 @media (prefers-color-scheme: light) {
  :root {
   --container: rgba(68, 156, 214, 0.185);
   --background: #fcfbff;
   --text: rgb(68, 156, 214);
   --highlight: rgb(187, 80, 180); 
   --ripple: rgb(68, 156, 214);
  }
 }
/* Typography */

h1, h2, h3, h4, h5, p, a, li, div, button, span {
 color: var(--text);
 text-align: left;
}

h1 {
 font-size: 18vw;
}

h2 {
 font-size: 9vw;
}

h3 {
 font-size: 5vw;
}

h4 {
 font-size: 4.5vw;
}

h5 {
 font-size: 4.2vw;
}

p {
 font-size: 4.2vw;
}

/* General */

.star {
	background: rgba(255, 232, 130, 0.445);
}

body {
 background: var(--background);
}

.mobile-header a h2, .mobile-header a h3, #menu h5 {
 color: var(--highlight);
}

.mobile-header h2, .skills h5 {
 margin: 0;
 padding-right: 1.5vw;
}

.mobile-header h3 {
 padding-top: 0.9vw;
}

.mobile-header a {
 position: fixed;
 top: 0;
 left: 4.5vw;
}

.app {
 background: var(--container);
 position: relative;
 z-index: 1;
 height: 100vh;
}

/* Lockscreen */

#lockscreen {
 height: 100vh;
 width: 100%;
 background: none;
 border: none;
 box-shadow: none;
 justify-content: flex-start;
}

#lockscreen h1 {
 margin-bottom: 0;
}

#lockscreen h3 {
 margin: 1.5vh;
}

.unlock {
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 1;
}

#notification {
 background-color: var(--container);
 margin: 4.5vw;
 padding: 3vw;
 border-radius: 3vw;
 align-items: center;
 width: 84vw;
}

#notification span {
 align-items: flex-start;
}

#notification span h3, #notification p {
 margin: .9vw;
 padding-left: 3vw;
}

#notification img {
 height: 10.5vw;
 width: 10.5vw;
}

/* Ripple */

.ripple-container {
 width: 13.8vw;
 height: 6.9vw;
 margin-bottom: 4.5vw; 
}

@-webkit-keyframes animateRipple {
 0% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 1;
 }
 30% {
 width: 9vw;
 height: 9vw;
 border: 4.5px solid var(--ripple);
 opacity: 0;
 }
 100% {
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
}

@-moz-keyframes animateRipple {
 0% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 1;
 }
 30% {
 width: 9vw;
 height: 9vw;
 border: 4.5px solid var(--ripple);
 opacity: 0;
 }
 100% {
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
}

@keyframes animateRipple {
 0% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 1;
 }
 30% {
 width: 9vw;
 height: 9vw;
 border: 4.5px solid var(--ripple);
 opacity: 0;
 }
 100% {
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
}

@-webkit-keyframes delayAnimateRipple {
 0% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
 1% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 1;
 }
 30% {
 width: 9vw;
 height: 9vw;
 border: 4.5px solid var(--ripple);
 opacity: 0;
 }
 100% {
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
}

@-moz-keyframes delayAnimateRipple {
 0% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
 1% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 1;
 }
 30% {
 width: 9vw;
 height: 9vw;
 border: 4.5px solid var(--ripple);
 opacity: 0;
 }
 100% {
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
}

@keyframes delayAnimateRipple {
 0% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
 1% {
  width: .9vw;
  height: .9vw;
  border: 4.5px solid var(--ripple);
  opacity: 1;
 }
 30% {
 width: 9vw;
 height: 9vw;
 border: 4.5px solid var(--ripple);
 opacity: 0;
 }
 100% {
  border: 4.5px solid var(--ripple);
  opacity: 0;
 }
}

.ripple {
 border-radius: 9vw;
}

.ripple:nth-of-type(1) {
 position: absolute;
 right: 3.45;
	-webkit-animation: animateRipple 2.4s linear infinite;
	-moz-animation: animateRipple 2.4s linear infinite;
	animation: animateRipple 2.4s linear infinite;
}

.ripple:nth-of-type(2) {
	-webkit-animation: delayAnimateRipple 2.4s linear infinite;
	-moz-animation: delayAnimateRipple 2.4s linear infinite;
	animation: delayAnimateRipple 2.4s linear infinite;
 animation-delay: .5s;
}

/* Menu/Home */

#menu {
 background: none;
 height: 100vh;
 gap: 6vw;
}

/* .projects {
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 1;
} */

/* navbar {
 position: absolute;
 top: 0;
 left: 50%;
 z-index: 1;
} */

#menu li {
 width: 30vw;
}

#menu h5 {
 text-align: center;
 margin: 0;
 padding-top: 2.4vw;
}

.icon img {
 width: 20vw;
 height: 20vw;
 background-color: var(--container);
 border-radius: 3vw;
}

.projects {
 background-color: var(--container);
 padding: 4.5vw 0;
 width: 90vw;
 border-radius: 3vw;
 margin-top: 4.5vh;
}

/* About */

.about-heading {
 padding: 12px;
 justify-content: flex-start;
 background-color: var(--background);
 border-top: 1px solid var(--highlight);
 border-bottom: 1px solid var(--highlight);
}

.about-body {
 padding: 0 12px;
}

.about img {
 width: 39px;
 height: 39px;
}

.about h4, .about h5 {
 text-align: left;
 margin: 3px 0 3px 18px;
}

.about h5 {
 font-weight: 500;
}

/* Skills */

.skills-body {
 overflow-y: scroll;
}

.skills h5 {
 margin: 0;
 padding-right: 1.5vw;
}

.skills ul {
 margin-bottom: 4.5vw;
 background-color: var(--background);
 padding: 0 4.5vw;
 border-top: 1px solid var(--highlight);
 border-bottom: 1px solid var(--highlight);
}

.skills li {
 justify-content: space-between;
 padding-top: 0.9vw;
 border-bottom: 1px solid var(--highlight);
}

.skills ul li:last-of-type {
 border: none;
}

/* Work */

.work ul {
 border-top: 1px solid var(--highlight);
 background-color: var(--background);
}

.work li {
 justify-content: space-between;
 border-bottom: 1px solid var(--highlight);
 padding: 3vw 4.5vw;
}

.work-body li span {
 justify-content: flex-start;
}

.work-body a {
 justify-content: space-between;
}

.work li h3, .work li p {
 padding-top: 0.9vw;
 margin: 1.5vw;
}

.work-body h2 {
 margin: 0;
}

.wi-body {
 background-color: var(--background);
 padding: 3vw;
}

.wi-body li span {
 width: 100%;
}

.wi-body li span {
 width: 100%;
 max-width: 255px;
 word-wrap: break-word;
 margin-bottom: 12px;
 line-height: 24px;
 position: relative;
 padding: 3vw 4.5vw;
 border-radius: 4.5vw;
}
 
.wi-body li span:before, .wi-body li span:after {
 content: "";
 position: absolute;
 bottom: 0;
 height: 25px;
 }

.wi-body li:nth-of-type(2n) span {
 margin-left: 27%;
 background: rgb(205, 239, 255);
 align-self: flex-end;
}
 
.wi-body li:nth-of-type(2n) span:before {
 right: -7px;
 width: 20px;
 background: rgb(205, 239, 255);
 border-bottom-left-radius: 16px 14px;
}

.wi-body li:nth-of-type(2n) span:after {
 right: -26px;
 width: 26px;
 background-color: var(--background);
 border-bottom-left-radius: 10px;
}

.wi-body li:nth-of-type(2n+1) span {
 background: rgb(230, 247, 255);
}
 
.wi-body li:nth-of-type(2n+1) span:before {
 left: -7px;
 width: 20px;
 background: rgb(230, 247, 255);
 border-bottom-right-radius: 16px;
}

.wi-body li:nth-of-type(2n+1) span:after {
 left: -26px;
 width: 26px;
 background-color: var(--background);
 border-bottom-right-radius: 10px;
}
}